body {
    font: 30px "Century Gothic", Futura, sans-serif;
    background-color: lightgreen;
  }
  
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .square {
    background: rgb(237, 245, 165);
    border: 3px solid rgb(184, 180, 180);
    border-radius: 0.3rem;
    float: left;
    font-size: 70px;
    font-weight: bold;
    line-height: 34px;
    height: 125px;
    width: 125px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    
  }
  
  .square:focus {
    outline: none;
  }

  .square.highlight {
    color: deeppink;
  }
  
  .kbd-navigation .square:focus {
    background: rgb(240, 235, 235);
  }
  
  .game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .game-board {
    margin-top: 120px;

  }

  .game-info {
    margin-left: 50px;
  }

  li button {
    outline: none;
    background-color: lightyellow;
    border-radius: 20px;
    padding: 10px;
    color: black;
    font-size: 16px;
  }
  
  button:hover {
    opacity: 0.5;
  }